[mysqld]
character-set-server=utf8mb4       # mysqlサーバー側が使用する文字コード
general-log=1                      # 実行したクエリの全ての履歴が記録される
general-log-file=/var/log/mysql/mysqld.log  # ログの出力先
default_authentication_plugin=mysql_native_password  # パス認証方式を設定

[client]
default-character-set=utf8mb4  # mysqlのクライアント側が使用する文字コード
